.Form{
  width: 100%;
}

.Form input {
  background: #b1b1b1;
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 700;
}
  
.formField {
  margin: 10px 0 10px 0;
  /* min-width: 400px; */
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

.formField:focus{
  outline: none;
}

.formButton {
  /* margin: 10px 0 10px 0; */
  padding: 1.5rem 2rem;
  font-size: 1rem;
  font-weight: 700;
  border: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #056408;
  margin: 2rem 0;
  border-radius: 15px;
  background: #060f14;
}